{% extends 'base/base.html' %}

{% block title %}Tours{% endblock %}

{% block content %}
<div class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
        <a href="{% url 'tour-list' %}" class="text-blue-600 hover:underline">← Back to Tours</a>

        <div class="bg-white shadow-md rounded-lg p-6 mt-4">
            <div class="flex flex-row">
                <h1 class="text-3xl font-bold mb-4">{{ tour.name }}</h1>
                <a href="{% url 'edit-tour' tour.id %}">
                    <img src="https://cdn-icons-png.flaticon.com/512/6065/6065488.png" alt="Edit" class="h-10">
                </a>

            </div>


            <div class="mb-4">
                <p class="text-gray-700"><strong>Destination:</strong> {{ tour.destination_city }}, {{ tour.destination_country }}</p>
                <p class="text-gray-700"><strong>Start Date:</strong> {{ tour.start_date }}</p>
                <p class="text-gray-700"><strong>End Date:</strong> {{ tour.end_date }}</p>
                <p class="text-gray-700"><strong>Price:</strong> ${{ tour.price }}</p>
            </div>

            <div class="mb-4">
                <h2 class="text-2xl font-semibold mb-2">Description</h2>
                <p class="text-gray-600">{{ tour.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}